/*
Francisco Chirinos
zzainss@gmail.com
http://zains.com.ve
*/

.cuadrado{
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
}
.circulo{
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.triangulo{
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid #ccc;
    margin-top: -100px;
}
div{
    margin: 50px auto;
}